name: Release

on:
  release:
    types: [ released ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout github repo
      uses: actions/checkout@v4
    - name: Lint
      uses: psf/black@stable
      with:
          version: "23.7.0"
    - name: Setup python
      uses: actions/setup-python@v4
    - name: Install dependencies
      run: |
        python -m pip install --upgrade jupyter matplotlib build twine
    - name: Build and install
      run: |
        python -m build
        python -m pip install dist/xfaster*.whl
    - name: Run tutorial to test
      working-directory: docs/notebooks
      run: |
        jupyter nbconvert --to script XFaster_Tutorial.ipynb
        python XFaster_Tutorial.py
    - name: Upload to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m twine upload dist/*
